@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');
@import url('../css/navbar.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

#container {
    background-image: url('../src/images/background-mobile.png');
    background-size: contain;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

     &::before {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 30px;
     }
        
    }

a.btn{
    text-decoration: none; 
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.4s ease;

}


.btn-mobile{
    font-size: 1.5rem;
}

.btn-default{
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover{
        background-color: var(--color-primary-2);

    }
}

.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

/*HOME*/
#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    /*"clamp": É uma função CSS que define um valor dentro de um intervalo (mínimo, ideal, máximo).
    "0px" (Valor Mínimo): Se a tela for muito pequena (ex: celular), o padding-top não será menor que 0px (zero).
    "5vw" (Valor Ideal/Fluido): Este é o valor preferido. vw significa viewport width (largura da tela). O padding será 5% da largura da tela. Se a tela aumentar, o padding aumenta; se diminuir, o padding diminui.
    "32px" (Valor Máximo): Se a tela for muito grande (ex: desktop) e 5vw resultar em um valor maior que 32px (ex: 40px), o navegador trava o padding em 32px.
    */;
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);
    

    .home-image {
        width: clamp(300px, 50%, 400px);      
}

.home-title{
     color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5w, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-7);
        text-align: center;
        font-size: 1rem;
        font-weight: 500px;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
    
}

#trending{
    padding: 32px  4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card{
            position: relative;
        /* "transition: transform 0.3s ease"
         Serve pra deixar a animação suave, em vez de acontecer de forma brusca.*/
            transition: all 0.5s ease, box-shadow 0.3s ease;
            cursor: pointer;            

            img{
                width: clamp(300px, 5vw, 600px);
            }
        

            .trending-rate {
            background-color: var(--color-neutral-0);
            position: absolute;
            bottom: 70px;
            right: 30px;
            padding: 5px 10px;
            border-radius: 5px;
                i {
                    color: var(--color-secondary-1); 
                }
            }
        }
    }

        /* ":hover" É um “gatilho” que ativa quando o mouse passa por cima do elemento.*/
     .trending-card:hover ,.trending-card{
        opacity: 0.6;}
        /* "transform: scale(1.1) translateY(-10px)" A propriedade "transform" é usada para aplicar transformações visuais a um elemento.
             Neste caso, "scale(1.1)" aumenta o tamanho do elemento em 10%, e "translateY(-10px)" move o elemento 10 pixels para cima. 
             O resultado é que, quando o usuário passa o mouse sobre a carta de tendência, ela aumenta de tamanho e se eleva ligeiramente, criando um efeito de destaque visual.*/
            .trending-cards .trending-card:hover {
                opacity: 1;
             transform: scale(1.1) translateY(-10px);
            /* "z-index: 10" A propriedade "z-index" controla a ordem de empilhamento dos elementos posicionados.*/
                z-index: 10;
                }
                /*resumo:
                O código CSS define um estilo para um elemento com a classe "trending-card" dentro de um contêiner "trending-cards".Efeito de destaque ao passar o mouse no card:
                - transition: suaviza a animação
                - :hover: ativa quando o mouse está sobre o elemento
                - transform: aumenta o tamanho (scale) e move levemente para cima (translateY)
                - z-index: garante que o card fique acima dos outros*/

                .trending-card {
                    transition: all 0.3s ease;
                    cursor: pointer;

                    /* explicação sobre o efeito que adiciona uma sombra ao passar o mouse sobre o card, criando um efeito de destaque visual:
                        1. Quando o mouse entra na área geral (.trending-cards),
                        todos os cards ficam levemente apagados (opacity: 0.6)

                        2. Quando o mouse passa sobre um card específico,
                        ele volta ao normal (opacity: 1), aumenta de tamanho (scale)
                        e sobe levemente (translateY), criando um efeito de destaque

                        3. O z-index garante que o card destacado fique na frente dos outros

                        4. A propriedade transition suaviza a animação*/
                }
            
    
            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);
            
                span {
                 font-size: 1rem;
                 font-weight: 500px;
                 color: var(--color-neutral-7) 
                };
            }
        }

        #about {
            padding: 32px 4%;
            display: flex;
            flex-direction:column;
            align-items: center;
            background-color: var(--color-primary-1);
            background-image: url('../src/images/about/bg-about.png');
            min-height: calc(100vh - 96px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 32px;

            .title {
                color: var(--color-neutral-0);

                &::before {
                    background-color: var(--color-primary-1);
                }
            }

            .about-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;

                .aboult-image {
                    width: clamp(300px, 50vw, 500px);
                }

                .about-info {
                    padding: 24px;
                    border-radius: 20px;
                    background-color: var(--color-primary-2);
                    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
                    

                    h3 {
                        color: var(--color-neutral-0);
                        font-size: 1.8rem;
                        margin-bottom: 4px;

                        span {
                            color: var(--color-secondary-1);  
                        }
                    }
                    p{
                        color: var(--color-neutral-0);
                        font-size: 1rem;

                        span{
                            color: var(--color-secondary-1);
                            font-weight: 500;
                        }
                    }
                }
                }
            }
        
            #products {
                padding: 48px 8%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 58px;
                
                

                .products-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 58px;
                    cursor: pointer;

                    .product-card{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--color-primary-1);
                        background-image: url('../src/images/products/background.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        padding: 16px;
                        border-radius: 50px;
                        box-shadow: 0 4px 8px rgba(0,0,0,0.1);

                        img {
                            width: 300px;
                            position: relative;
                            top: -70px;
                            filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
                        }

                        .product-content {
                            margin-top: -70px;

                          
                            h3 {
                                color: var(--color-neutral-0);
                                font-size: 1.8rem;
                                display: flex;
                                align-items: center;
                                flex-direction: column;

                                span{
                                    color: var(--color-secondary-1);
                                    font-size: 1.2rem;
                                }
                                
                            }
                            }
                            
                    }   
            
                }
            }
            
    
        @media (min-width: 768px) {
          #container {
            background-image: url('../src/images/background-desktop.png');
            background-size: cover;
            background-position: start;
            background-repeat: no-repeat;
            ;
          }  
        #trending {
            .trending-cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 24px;
            }
        }

        #products {
            min-height: 100vh;
            gap: 8rem;
            

            .products-cards {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 24px;

                .product-card {
                    img {
                        width: 250px;
                    }
                }
            }
        }
}

footer {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
    text-align: center;
    padding: 12px;

        p{
            font-size: 1rem;
        }
}

@media (min-width: 1200px) {
#about {
    margin: 4%;
    justify-content: center; }


    .about-content {
        flex-direction: row;
        align-items: center;
        gap: 48px;
    }

    .about-image {
        /*A propriedade order no CSS é usada para alterar a ordem visual de itens dentro de um contêiner Flexbox ou Grid, sem precisar modificar a estrutura HTML. */
        order: 1;
    }

    .about-info:first-child {
        order:2
    }

    .about-info:last-child {
        order:3
}

}